<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>WoundOS needs camera access to capture wound images for measurement using LiDAR 3D scanning.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>WoundOS needs photo library access to save wound measurement reports.</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>arkit</string>
        <string>arm64</string>
    </array>
    <key>UILaunchScreen</key>
    <dict>
        <key>UIColorName</key>
        <string>AccentColor</string>
        <key>UIImageName</key>
        <string></string>
    </dict>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>CFBundleName</key>
    <string>WoundOS</string>
    <key>CFBundleDisplayName</key>
    <string>WoundOS</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
</dict>
</plist>
